:root {
    --cor-padrao: #1e2430;
    --cor-fonte: #fff;
    --cor-divisao: #3a4966;
    --cor-placeholder: #9aa5bd;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* Aplicando estilo no body */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Ajustando cabeçalho */
header {
    padding: 20px;
    text-align: center;
    background-color: var(--cor-padrao);
    color: var(--cor-fonte);
    user-select: none;
}

/* Ajustando o corpo principal do pomodoro */
main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    color: var(--cor-fonte);
}

/* Ajustando classe do navbar */

.navbar {
    background-color: var(--cor-padrao);
    height: 100vh;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 100px;
    border: 1.5px solid var(--cor-divisao);
    user-select: none;
}

.title:hover {
    cursor: pointer;
}


#tarefas {
    justify-content: space-between;
    border-bottom: none;
    padding: 15px;
    cursor: auto;
}
/* Dividindo a tela para o display */

/* TEMPORARIO, RETIRAR DEPOIS */

.display {
    text-align: center;
    width: 100vw;
    background-color:crimson;
}

/* Ajustando seção tarefas */

.rolagem-tarefas {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}    

.add-tarefa:first-child {
    border-top: 1px solid var(--cor-divisao);
}

/* Estilizando o texto de entrada de tarefa */

#text-tarefa {
    padding: 10px 5px;
    background-color: var(--cor-divisao);
    border: none;
    border-radius: 5px;
    color: var(--cor-fonte);
}

input::placeholder {
    color: var(--cor-placeholder);
}
/* Estilizando o "+" */
#adicao {
    padding: 0px 6px;
    font-size: x-large;
    border: 2px solid var(--cor-fonte);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease
}

#adicao:hover {
    transform: scale(1.15);
}

/* Após manipulação de evento, criará .tarefas-item, estilizar para display */

.tarefas-item {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 10px;
}

/* Traçar linha na tarefa que for concluída */
.tarefas-item.concluida {
    color: var(--cor-placeholder);
    text-decoration: line-through;
}